@media screen and (max-width: 1440px) {
	.title {
		font-size: 38px;
	}

	.header-nav {
		padding-left: 15px;

		&__item {
			padding-left: 130px;
		}
	}

	.first-slider {
		margin-bottom: 20px;

		&__picture {
			margin-right: 0;
		}

		&__content {
			margin-left: 0;
		}
	}

	.about {
		padding-bottom: 50px;

		&__container {
			padding-top: 50px;
		}

		&__content {
			max-width: 33%;
		}

		&__picture {
			width: 56%;
		}

		&__center {
			padding-left: 50px;
		}
	}

	.category {
		padding-top: 150px;
	}

	.blog__content {
		padding-left: 0;
	}

	.blog-slider {
		&__nav {
			left: 0;
		}

		&__counter {
			left: 600px;
		}
	}

	.photo-slider {
		.slick-track {
			height: 560px;
		}

		.photo-slider__item {
			padding: 0 20px;

			img {
				height: 350px;
				width: 90%;
			}
		}
	}
	.page-category {
		&__top {
			padding: 0 100px;
		}
	}
}

@media screen and (max-width: 1366px) {
	.products {
		&__left {
			width: 21%;
		}
		&-right {
			width: 79%;
		}
	}
	.custom-number {
		&__button {
			width: 100%;
		}
	}
}

@media screen and (max-width: 1200px) {
	.header-nav {
		&__item {
			padding-left: 70px;

			ul {
				padding-left: 0;
			}
		}
	}

	.first {
		padding-bottom: 80px;
		&__scroll {
			top: -20px;
		}
	}
	.first-slider {
		&__content {
			padding-top: 150px;
			padding-bottom: 50px;
		}
		&__item {
			background-position-x: right;
		}
		&__counter {
			bottom: 136px;
		}
		.slick-next {
			top: 80px;
		}
		.slick-prev {
			top: 150px;
		}
	}

	.about {
		&__container {
			padding-top: 80px;
			flex-direction: column;
		}

		&__title {
			text-align: center;
			margin-bottom: 30px;
		}

		&__content {
			text-align: center;
			max-width: 100%;
		}

		&__center {
			max-width: 40%;
			margin: 0 auto 124px 0;
		}

		&__link {
			margin-bottom: 50px;
		}
	}

	.about-pictures {
		top: 398px;
		width: 90%;
		left: 25px;
		right: 25px;
	}

	.services {
		&__scroll {
			width: 730px;
		}
	}

	.blog {
		padding-bottom: 160px;
	}

	.photo-slider {
		background-position-y: 100%;
		background-size: contain;

		.slick-track {
			height: 560px;
		}

		.photo-slider__item {
			padding: 0 30px;

			img {
				height: 350px;
				max-width: 400px;
				width: 100%;
			}
		}
	}

	.footer {
		&__container {
			display: block;
		}

		&__left {
			width: 100%;
			margin-bottom: 30px;
		}

		&-nav {
			width: 100%;
		}

		&-menu {
			width: 80%;
		}
	}
	.category {
		&__picture {
			max-width: 50%;
		}
	}
	.page-category {
		&__top {
			padding: 0 50px;
		}
		&__content {
			padding-top: 200px;
			max-width: 50%;
		}
	}
	.products {
		&__left {
			width: 27%;
		}
		&-right {
			width: 73%;
			&__top {
				align-items: center;
			}
		}
	}
	.card {
		width: 50%;
	}
	.custom-radio {
		&__sort {
			font-size: 16px;
		}
		&__text {
			font-size: 16px;
		}
	}
	.icons {
		width: 24px;
		&__btn {
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 1140px) {
	.searh-form {
		display: none;
	}

	.header-bottom {
		&__logo {
			margin-right: 0;
		}

		&__left {
			max-width: max-content;
		}

		&__title {
			margin-right: 0;
		}
	}

	.first-slider__old-price {
		margin-top: auto;
	}

	.category {
		&__list {
			display: block;
			padding-right: 0;
		}

		&-item {
			width: 100%;
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.services {
		padding-top: 80px;
		padding-bottom: 80px;

		&__title {
			margin-bottom: 90px;
		}

		&__scroll {
			width: 59%;
		}
	}

	.gallery__text {
		top: 30px;
		transform: none;
	}
	.gallery__item:nth-child(4) .gallery__link {
		bottom: 30px;
	}

	.blog {
		padding-top: 80px;
	}

	.blog-slider {
		margin-right: calc((-100vw + 992px) / 2);

		&__nav-item {
			max-width: 500px;
		}

		&__counter {
			left: 530px;
		}

		.slick-next {
			left: 90%;
		}

		.slick-prev {
			left: 84%;
		}
	}
}

@media screen and (max-width: 992px) {
	.header-nav {
		display: block;
		margin-bottom: 140px;

		&__item {
			margin: 0 auto 50px;
			width: max-content;
		}
	}

	.header-menu {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.main-menu {
		width: 100%;
		justify-content: space-between;
		padding-left: 15px;
		padding-right: 15px;
		height: 130px;

		li:not(:last-child) {
			margin-right: 0;
		}
	}

	.first {
		&__bottom {
			display: none;
		}
	}

	.first-slider {
		margin-top: 50px;

		&__wrap {
			flex-direction: column;
		}

		&__content {
			padding-top: 20px;
			padding-bottom: 0;
			margin: 0 auto;
			order: 1;
		}

		&__item {
			background-position-y: 0;
		}

		&__picture {
			order: 0;
			width: 100%;

			img {
				margin-left: 50px;
				max-width: 430px;
			}
		}

		&__content {
			margin: 0;
		}

		&__detail {
			left: auto;
			bottom: auto;
			right: 2px;
			top: 360px;
			margin-left: 0;
			transform: translate(0);
		}

		&__counter {
			top: 340px;
			bottom: auto;
			left: 20px;
		}
		.slick-next {
			top: 10px;
		}

		.slick-prev {
			top: 80px;
		}
	}

	.about {
		&__center {
			max-width: 52%;
		}

		&__scroll {
			width: 260px;
		}

		&-pictures {
			top: 448px;
		}
	}

	.gallery {
		&__link {
			padding: 10px 30px;
			opacity: 1;
			z-index: 2;
		}

		&__item {
			&:after {
				display: block;
			}
		}
	}

	.blog {
		&__link {
			right: 35px;
		}
	}

	.blog-slider {
		padding-top: 80px;
		padding-left: 245px;
		margin-right: calc((-100vw + 768px) / 2);

		.slick-next {
			left: 87%;
		}

		.slick-prev {
			left: 80%;
		}

		&__counter {
			left: 440px;
		}

		&__nav img {
			object-fit: cover;
		}

		&__nav-item {
			max-width: 400px;
		}
	}

	.photo-slider {
		padding-top: 25px;

		&__counter {
			top: 140px;
			margin-left: -215px;
		}

		&__title {
			font-size: 24px;
		}

		.slick-prev {
			transform: translateX(140px);

			&:hover {
				transform: translateX(140px);
			}
		}

		.slick-next {
			transform: translateX(200px);

			&:hover {
				transform: translateX(200px);
			}
		}

		.slick-track {
			height: 440px;
		}

		.photo-slider__item {
			img {
				max-width: 300px;
				height: 250px;
			}

			&.slick-center {
				img {
					transform: scale(1.2) translateY(-20px);
				}
			}
		}

		.slick-arrow {
			top: 40px;
		}
	}
	.page-category {
		&__top {
			padding: 0;
		}
		&__content {
			padding-top: 140px;
		}
		&__title {
			font-size: 36px;
		}
	}
	.category-mini {
		&__content {
			padding-right: 120px;
		}
		&__title {
			font-size: 22px;
		}
	}
	.icons {
		width: 75px;
		&__btn {
			margin-left: 10px;
		}
	}
	.custom-radio {
		display: block;
		&__group {
			margin-top: 10px;
		}
	}
	.custom-number {
		&__input {
			width: 100%;
		}
	}
	.products__left {
		width: 35%;
	}
	.card {
		padding: 15px;
		padding-bottom: 0;
		&__img {
			height: 175px;
		}
		&__title {
			font-size: 20px;
		}
		&__stars {
			margin-right: 10px;
		}
		&__star {
			margin-right: 3px;
		}
	}
	.card-list {
		&__item {
			display: block !important;
		}
		.card-list__item:first-child {
			display: block;
		}
	}
	.card-price {
		font-size: 30px;
		&__btn {
			padding: 10px;
		}
	}
}

@media screen and (max-width: 768px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-menu {
		padding-top: 0;
		display: block;
		height: 100%;

		&__item {
			margin-bottom: 40px;
		}

		&:before {
			display: none;
		}
	}

	.header-nav {
		margin-bottom: 0;

		&__title {
			font-size: 28px;
			margin-bottom: 25px;
		}
	}

	.header-list {
		font-size: 18px;
	}

	.first-slider {
		&__title {
			font-size: 32px;
		}

		&__text {
			font-size: 32px;
		}

		&__old-price {
			font-size: 20px;
		}

		&__new-price {
			font-size: 32px;
		}

		&__picture img {
			margin: 0 auto;
		}
		&__wrap {
			padding-bottom: 85px;
		}
		&__detail {
			top: auto;
			bottom: 0;
			right: 50%;
			transform: translateX(50%);
		}
		&__content {
			margin-left: auto;
		}
	}

	.about {
		&__title {
			font-size: 30px;
		}
		&-pictures {
			width: 95%;
			&__item {
				position: absolute;
				left: 0;
				right: 25px;
			}
		}
		&__center {
			max-width: 60%;
			padding: 65px 20px 30px 30px;
		}
		&__scroll {
			display: none;
		}

		&__content {
			margin-right: 0;
		}
	}

	.about-slider {
		&__title {
			font-size: 22px;
		}

		&__text {
			font-size: 14px;
		}

		.slick-arrow {
			top: -45px;
		}
	}

	.gallery {
		display: block;

		.gallery__item {
			width: 85%;
			margin: 0 auto;
			&:nth-child(4) {
				.gallery__link {
					bottom: 10%;
					right: 4%;
				}
				.gallery__text {
					top: 10%;
					right: 4%;
					transform: translateY(0);
				}
			}
		}
	}

	.blog {
		&__scroll {
			width: 680px;
		}
		&__link {
			bottom: -80px;
			right: auto;
			left: 0;
		}
	}

	.blog-slider {
		margin-right: calc((-100vw + 530px) / 2);
		padding-top: 20px;
		padding-left: 230px;
		height: 453px;

		&__counter {
			left: 0;
			top: -40px;
		}

		&__item {
			height: auto;
			max-width: 300px;
		}

		&__nav-item {
			max-width: 350px;
		}

		.slick-prev {
			left: 68%;
		}

		.slick-next {
			left: 78%;
		}

		.slick-arrow {
			top: -45px;
		}
	}

	.footer {
		&-menu {
			order: 0;
			margin-bottom: 30px;
			width: 100%;
		}
		&-bottom {
			&__container {
				flex-direction: column;
			}
			&__text {
				order: 1;
			}
		}
	}
	.category {
		&__picture {
			order: 0;
			max-width: 320px;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
	}
	.page-category {
		&__top {
			flex-direction: column;
			text-align: center;
		}
		&__content {
			padding-top: 20px;
			margin-bottom: 30px;
			order: 1;
			max-width: 100%;
		}
	}
	.products {
		&__container {
			display: block;
		}
		&__left {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: 15px;
			width: 100%;
		}
		&-filter {
			width: 48%;
		}
		&-price {
			width: 48%;
		}
	}
	.products-right {
		width: 100%;
	}
	.custom-checkbox {
		&__text {
			padding-left: 25px;
		}
	}
}

@media screen and (max-width: 576px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}

	.scroll {
		display: none;
	}

	.title {
		text-align: center;
		font-size: 32px;
	}

	.link {
		padding: 10px 20px;
		font-size: 16px;
	}

	.counter {
		font-size: 18px;
	}

	.slick-slider .slick-arrow {
		width: 25px;
		height: 25px;
		background-size: contain;
	}

	.title {
		padding-bottom: 5px;
	}

	.header-top__viber {
		display: none;
	}

	.header-bottom {
		&__left {
			padding-bottom: 0;
		}
		&__logo {
			width: 30%;
		}
		&__title {
			display: none;
		}
	}

	.burger {
		margin-right: 0;
	}

	.cabinet {
		&__item {
			margin-right: 20px;
		}
	}

	.first-slider {
		padding: 0;

		&__title {
			font-size: 30px;
		}

		&__text {
			font-size: 22px;
		}

		&__picture img {
			max-width: 200px;
		}

		&__counter {
			display: none;
		}

		&__content {
			padding-bottom: 0;
		}

		&__nav-item::after {
			left: 0;
			right: auto;
			width: 95px;
		}
	}

	.about {
		padding-bottom: 0;
		&-slider {
			&__link {
				margin-left: 0;
				padding: 0;
			}
			&__text {
				margin-bottom: 20px;
			}
		}
		&__center {
			max-width: 100%;
			margin-bottom: 0;
		}
		&__content {
			margin-right: 0;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.about-pictures {
		display: none;
	}
	.category {
		padding-top: 80px;
	}

	.services {
		padding-top: 40px;
		padding-bottom: 40px;

		&__title {
			padding-bottom: 20px;
			margin-bottom: 40px;
		}
	}

	.gallery {
		&__link {
			font-size: 14px;
			padding: 5px 10px;
		}
		.gallery__item {
			width: 100%;

			&:nth-child(4) {
				.gallery__text {
					top: 2%;
				}
				.gallery__link {
					font-size: 14px;
					padding: 5px 10px;
				}
			}
		}

		.gallery__title:nth-child(1n + 1) {
			font-size: 20px;
			top: 5px;
			right: 5px;
			left: auto;
		}
	}

	.blog {
		padding-bottom: 160px;

		&__link {
			left: 50%;
			right: auto;
			transform: translateX(-50%);
			max-width: 250px;
			width: 100%;
		}

		&__title {
			margin-bottom: 60px;
		}
	}

	.blog-slider {
		margin-right: 0;
		padding: 0;
		height: auto;

		&__counter {
			left: 0;
			top: -30px;
		}

		&__item {
			justify-content: space-between;
			max-width: 576px;
			padding: 23px 20px 23px;
			height: auto;
			margin-right: 0;
		}

		&__title {
			font-size: 22px;
			text-align: center;
		}

		&__text {
			font-size: 14px;
			margin-bottom: 10px;
		}

		&__nav {
			display: none;
			right: 0;
		}

		&__nav-item {
			width: 100%;
			height: 350px;
		}

		&__link {
			margin: 0;
		}

		.slick-prev {
			left: auto;
			right: 100px;
		}

		.slick-next {
			left: auto;
			right: 15px;
		}

		.slick-arrow {
			top: -45px;
		}
	}

	.category__title:after {
		right: 40px;
	}

	.photo {
		padding-top: 80px;

		&-container {
			padding-left: 0;
			padding-right: 0;
		}

		&__title {
			margin-left: 15px;
		}
	}

	.photo-slider {
		background-size: cover;

		&__counter {
			left: 20px;
			margin-left: 0;
			transform: translateX(0);
		}

		&__title {
			color: #fff;
		}

		.slick-arrow {
			top: 55px;
			left: auto;
			transform: translateX(0);
		}

		.slick-prev {
			right: 80px;
		}

		.slick-next {
			right: 30px;
		}

		.photo-slider__item {
			padding: 0 20px;

			img {
				height: 290px;
			}

			&.slick-current img {
				transform: translateY(0);
				max-width: 100%;
			}
		}
	}

	.footer {
		&-nav {
			display: block;

			&__item {
				margin-bottom: 30px;
			}
		}

		&-top {
			padding-top: 70px;
		}

		&-bottom {
			text-align: center;
		}
		&-menu {
			margin-bottom: 0;
			display: block;
			&__item {
				margin-bottom: 30px;
			}
		}
	}
	.products {
		&-filter {
			margin-bottom: 20px;
			width: 100%;
			&__title {
				font-size: 20px;
			}
			&__link {
				padding: 0;
				padding-left: 33px;
				margin-top: 20px;
				line-height: 24px;
			}
			&__top {
				margin-bottom: 20px;
			}
			&__bottom {
				padding-bottom: 20px;
			}
		}
		&-price {
			width: 100%;
			margin-bottom: 20px;
			&__top {
				margin-bottom: 20px;
			}
		}
	}
	.custom-number {
		margin-bottom: 15px;
		width: 100%;
		&__text {
			display: block;
			margin-bottom: 5px;
		}
	}
	.custom-checkbox__text {
		font-size: 14px;
	}
	.icons {
		width: 24px;
		&__btn {
			margin-left: 0;
			margin-bottom: 10px;
		}
	}
	.card {
		width: 100%;
	}
	.pagination {
		display: block;
		&__arrow {
			justify-content: center;
			margin: 10px 0;
		}
	}
}
