.breadcrumbs {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 170%;
   color: #434343;
   display: flex;
   align-items: center;
   padding: 25px 0;
   &__item {
      display: flex;
      align-items: center;
      margin-right: 18px;
   }
   &-separator {
      margin-right: 16px;
      display: flex;
      align-items: center;
      svg {
         width: 8px;
         height: 16px;
      }
   }
}
