.description {
   background: #fff;
   margin-bottom: 30px;
   &__top {
      padding: 0 25px;
      border-bottom: 1px solid #edf1f4;
   }
   &-list {
      display: flex;
      justify-content: space-between;
      padding-left: 7px;

      &__item {
         padding: 34px 10px 34px 34px;
         min-height: 25px;
         font-weight: 500;
         font-size: 22px;
         line-height: 20px;
         letter-spacing: 0.06em;
         background-repeat: no-repeat;
         background-position: left center;
         position: relative;
         &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -8px;
            right: 0;
            height: 2px;
         }
         &.active {
            color: var(--color-red);
            &::before {
               background-color: var(--color-red);
            }
         }
         &:nth-child(1) {
            background-image: url("../img/svg/product-card-menu-1.svg");
         }
         &:nth-child(2) {
            background-image: url("../img/svg/product-card-menu-2.svg");
         }
         &:nth-child(3) {
            background-image: url("../img/svg/product-card-menu-3.svg");
         }
         &:nth-child(4) {
            background-image: url("../img/svg/product-card-menu-4.svg");
         }
         &:nth-child(5) {
            background-image: url("../img/svg/product-card-menu-5.svg");
         }
         &:nth-child(6) {
            background-image: url("../img/svg/product-card-menu-6.svg");
         }
         &:nth-child(7) {
            background-image: url("../img/svg/product-card-menu-7.svg");
         }
         &:nth-child(8) {
            background-image: url("../img/svg/product-card-menu-8.svg");
         }
      }
   }
}

.description__content {
   display: flex;
}

.description-gallery {
   width: 33%;
   border-right: 1px solid #edf1f4;
   &__viewport {
      padding: 50px 20px 37px 46px;
   }
   &__list {
      display: flex;
      padding-left: 44px;
      &-item {
         margin-right: 32px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;
         padding-bottom: 14px;
         cursor: pointer;
         &:before {
            content: "";
            display: none;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: var(--color-red);
         }
         &:hover::before,
         &.active::before {
            display: block;
         }
      }
   }
}

.description-right {
   padding: 40px 62px 25px 55px;
   width: 67%;

   &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 53px;
   }
   &__title {
      font-weight: 600;
      font-size: 42px;
      line-height: 130%;
      max-width: 650px;
   }
   .card__cod {
      padding: 20px 0;
   }
   .card__raiting {
      margin-bottom: 48px;
   }
   .card-price {
      &__title {
         font-size: 42px;
         margin-bottom: 35px;
      }
   }
   &__buttons {
      display: flex;
      margin-bottom: 52px;
   }
   &__btn {
      margin-right: 48px;
   }
   &__excerpt p {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: var(--color-dark);
      max-width: 930px;
      margin-bottom: 15px;
   }
}
