.details {
   padding-top: 30px;
   background: #fff;
   padding-bottom: 45px;
   &__container {
      padding-top: 24px;
      padding-left: 46px;
   }
   &__title {
      font-weight: 700;
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 30px;
   }
   &__text {
      margin-bottom: 23px;
      p {
         font-family: "Open Sans, sans-serif";
         font-weight: 400;
         font-size: 16px;
         line-height: 25px;
         color: var(--color-dark);
         margin-bottom: 15px;
         max-width: 1265px;
         letter-spacing: 0.065em;
      }
   }

   &__link {
      padding-left: 10px;
      span {
         color: var(--color-red);
      }
   }
}
