.technical {
   padding-top: 28px;
   &__btn {
      text-align: right;
   }
   &__up {
      margin-left: auto;
      margin-right: 0;
   }
   &__btn {
      margin-bottom: 30px;
   }
   &__title {
      margin-left: 46px;
      margin-bottom: 24px;
      span {
         padding-left: 50px;
      }
   }
   &__table {
      margin-bottom: 30px;
      overflow-x: auto;
   }
}

.table {
   background: #fff;
   width: 100%;
   border-collapse: collapse;
   cursor: pointer;
   th {
      font-weight: 800;
      font-size: 20px;
      line-height: 150%;
      color: #4c4c4c;
      padding: 40px 20px 40px 30px;
      text-align: left;
   }

   tbody th {
      color: #4c4c4c;
   }
   td {
      font-weight: bold;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #747474;
      text-align: center;
      padding: 15px 10px;
      border: 1px solid #e5e5e5;
   }
   tr {
      border: 1px solid #e5e5e5;
      &:hover {
         background: rgba(248, 128, 128, 0.2);
      }
   }
}
