.blog {
   overflow: hidden;
   padding-top: 117px;
   padding-bottom: 200px;
   background: #fff;
   position: relative;

   &__title {
      padding-bottom: 22px;
      margin-bottom: 105px;
   }

   &__content {
      padding-left: 143px;
      position: relative;
   }

   &__link {
      position: absolute;
      bottom: 0;
      right: 145px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid var(--color-dark);
   }

   &__scroll {
      top: -8px;
      width: 608px;

      &:before {
         content: "05";
      }
   }
}

.blog-slider {
   padding-top: 80px;
   padding-bottom: 80px;
   padding-left: 377px;
   margin-right: calc((-100vw + 1120px) / 2);

   &__nav {
      position: absolute;
      left: 142px;

      img {
         height: 100%;
      }
   }

   .slick-track {
      display: flex;
   }

   &__item {
      display: flex !important;
      flex-direction: column;
      height: auto;
      max-width: 430px;
      background: #f2f2f2;
      margin-right: 30px;
      outline: none;
      padding: 34px 25px 23px 35px;
      cursor: move;

      &:last-child {
         margin-right: 0;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      margin-bottom: 18px;
   }

   &__text {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 170%;
   }

   &__link {
      color: var(--color-red);
      margin-top: auto;
      margin-left: auto;
      padding-right: 26px;

      svg path {
         fill: var(--color-red);
         stroke: var(--color-red);
      }
   }

   &__counter {
      top: 0;
      left: 720px;
   }

   .slick-arrow {
      top: 0;
      width: 30px;
      height: 30px;
      z-index: 99;
      transform: translateX(0);
      transition: transform 0.3s;
   }

   .slick-prev {
      left: 68%;
      background: url("../img/svg/arrow-left.svg") no-repeat center top;

      &.slick-disabled {
         background: url("../img/svg/arrow-left-disabled.svg") no-repeat center top;
      }
   }

   .slick-prev:hover {
      transform: translateX(-5px);
      transition: transform 0.3s;
   }

   .slick-next {
      left: 71%;
      background: url("../img/svg/arrow-right.svg") no-repeat center top;

      &.slick-disabled {
         background: url("../img/svg/arrow-right-disabled.svg") no-repeat center top;
      }
   }

   .slick-next:hover {
      transform: translateX(5px);
      transition: transform 0.3s;
   }
}

.blog-slider__nav-item {
   position: absolute;
   opacity: 0;
   width: 547px;
   height: 453px;
   transition: opacity 0.5s linear;

   &.active {
      opacity: 1;
      transition: opacity 0.5s linear;
   }
}

@keyframes tilt-in-left-2 {
   0% {
      -webkit-transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      transform: rotateX(30deg) translateX(-300px) skewX(30deg);
      opacity: 0;
   }

   100% {
      -webkit-transform: rotateX(0deg) translateX(0) skewX(0deg);
      transform: rotateX(0deg) translateX(0) skewX(0deg);
      opacity: 1;
   }
}