.category {
   padding-top: 250px;
   padding-bottom: 84px;
   background: #fff;
   &__title {
      max-width: max-content;
      padding-bottom: 21px;
      margin-bottom: 30px;
      &:after {
         width: 73%;
      }
   }
   &__list {
      display: flex;
      padding-top: 37px;
      padding-right: 65px;
   }

   &__scroll {
      top: -19px;
      width: 570px;
      &:before {
         content: "03";
      }
   }
}

.category-item {
   text-align: center;
   width: 33%;
   &__picture {
      height: 312px;
      margin-bottom: 10px;
      img {
         height: 100%;
         object-fit: contain;
      }
   }
   &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      margin-bottom: 24px;
   }
   &__link {
      border: 2px solid var(--color-dark);
   }
}
