.photo {
   padding-top: 118px;
   margin-bottom: 165px;

   &__title {
      padding-bottom: 22px;
      margin-bottom: 18px;
   }

   &__scroll {
      top: -20px;
      width: 900px;

      &:before {
         content: "06";
      }
   }
}

.photo-slider {
   padding-top: 150px;
   padding-bottom: 55px;
   background: url("../img/photo-bg.jpg") no-repeat center top;

   &__title {
      font-weight: 700;
      font-size: 26px;
      line-height: 32px;
      letter-spacing: 0.09em;
      text-transform: uppercase;
      margin-top: 27px;
   }

   &__counter {
      top: 265px;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -275px;
      color: #fff;

      &--right {
         color: #fff;
      }
   }

   .slick-list {
      overflow: hidden;
   }

   .slick-track {
      display: flex;
      min-height: 0;
      align-items: flex-end;
      height: 600px;
      overflow: hidden;
   }

   .photo-slider__item {
      position: relative;
      outline: none;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      text-align: center;
      align-items: center;
      padding: 0 40px;

      img {
         width: 500px;
         margin: 0 auto;
         object-fit: cover;
      }

      &.slick-center {
         img {
            transform: scale(1.2) translateY(-32px);
            transition: transform 1s;
         }

         .photo-slider__title {
            color: #fff;
         }
      }
   }

   .slick-arrow {
      top: 170px;
      bottom: auto;
      right: auto;
      left: 50%;

      width: 30px;
      height: 30px;
      z-index: 99;
      transform: translateX(0);
      transition: transform 0.3s;
   }

   .slick-prev {
      transform: translateX(210px);
      background: url("../img/svg/arrow-up.svg") no-repeat center center;

      &.slick-disabled {
         background: url("../img/svg/arrow-up-disabled.svg") no-repeat center center;
      }
   }

   .slick-prev:hover {
      transform: translateX(210px) translateY(-5px);
      transition: transform 0.3s;
   }

   .slick-next {
      transform: translateX(270px);
      background: url("../img/svg/arrow-down.svg") no-repeat center center;

      &.slick-disabled {
         background: url("../img/svg/arrow-down-disabled.svg") no-repeat center center;
      }
   }

   .slick-next:hover {
      transform: translateX(270px) translateY(5px);
      transition: transform 0.3s;
   }
}

.photo-slider__item {
   &.slick-current {

      .vent-slider__up,
      .pump-slider__up,
      .other-slider__up {
         display: block;
      }

      .vent-slider__down,
      .pump-slider__down,
      .other-slider__down {
         display: block;
      }

      .vent-slider__counter,
      .pump-slider__counter,
      .other-slider__counter {
         display: block;
      }
   }
}

.vent-slider,
.pump-slider,
.other-slider {
   position: relative;
   outline: none;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   text-align: center;
   align-items: center;
   padding: 0 40px;

   &__item {
      max-width: 600px;
      width: 100%;
      height: 396px;
      margin: 0 auto;
      object-fit: cover;
      display: none !important;

      &.active {
         display: block !important;
      }
   }

   &__up {
      position: absolute;
      top: 30px;
      right: 120px;
      display: none;
   }

   &__down {
      position: absolute;
      top: 30px;
      right: 50px;
      display: none;
   }

   &__counter {
      top: 25px;
      left: 25px;
      color: #fff;
      display: none;

      &--right {
         color: #fff;
      }
   }
}